@charset "ISO-8859-1";
.header {
	text-align: center;
}

body{
	text-align: center;
	font-size: large;
	background-image: radial-gradient(1000px,green,yellow,blue);
}
.totalbill td{
	padding: 10px;
	border-style: inset;
	border-color:#ff8040;
	border-width:4px;
	background : rgb(128, 255, 128);
}

.error{
	color: red;
}

.calci td {
	
	border:none;
}

#date{
	text-align: right;
	color: teal;
}
form input{
	border-style: inset;
	text-align: center;
	font-size: 19px;
	width: 130px;
}
table {
	
	margin: auto;
	border-style: outset;
	border-color: red;
	border-width: 6px;
}

input[type = "button"], input[type = "reset"]{
	font-size: 25px;
	text-align: center;
}

.calci input[type = "text"], button[type = "button"]{
	font-size: 50px;
	border: none;
	border: thick;
	height: 100px;
	width: 100px;
	border-radius: 10px;
	background: silver;
	border-style: outset;
}
.calci  button[type = "button"]:hover{
	cursor: pointer;
	background: gray;
}
.calci input[type = "text"]{
	width: 340px;
	background: olive;
}


